.about-container{
    margin: 4rem 6rem;
    text-align: justify;
}

/* .about-container h1{
    padding-bottom: 1rem;
} */

.about-container p{
    padding-bottom: 2rem;
}

.about-container p{
    font-size: 20px;
    
  }
  
  .about-container ul {
    text-align: justify;
    margin: 0 auto;
    width: 85%;
    font-size: 20px;
  }

.about-container h3{
    font-size: 30px;
    font-weight: 700;
  }

@media screen and (max-width: 850px){

        about-container{
          margin: 4rem 2rem;  
        }

} 